<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhumeijia.wuye.mapper.AdminMapper">
    <update id="updatePass">
        update admin set password = #{newPsw} where id = #{id}
    </update>

    <select id="findAdmin" resultType="com.zhumeijia.wuye.bean.Admin">
        select * from admin where username = #{username} and password = #{password}
    </select>
    <select id="findAdminById" resultType="com.zhumeijia.wuye.bean.Admin" parameterType="java.lang.Integer">
        select * from admin where id = #{id}
    </select>
</mapper>

