<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhumeijia.wuye.mapper.DanyuanMapper">
    <insert id="addDanyuan" parameterType="com.zhumeijia.wuye.bean.Danyuan">
        insert into danyuan values(null,#{name},#{building_id})
    </insert>
    <update id="updateDanyuan" parameterType="com.zhumeijia.wuye.bean.Danyuan">
        update danyuan set name = #{name} and bid = #{building_id} where id = #{id}
    </update>
    <delete id="delDanyuan" parameterType="int">
        DELETE from danyuan where id=#{id}
    </delete>

    <select id="getCountAll" resultType="java.lang.Integer">
        select count(*) from danyuan
    </select>
    <select id="getAllDanyuan" resultType="com.zhumeijia.wuye.bean.Danyuan">
        select * from danyuan limit #{page},#{limit}
    </select>
    <select id="getCountByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from danyuan where name like #{name}
    </select>
    <select id="findDanyuan" resultType="com.zhumeijia.wuye.bean.Danyuan">
        select * from danyuan where name like #{name} limit #{page},#{limit}
    </select>
    <select id="getAllDanyuans" resultType="com.zhumeijia.wuye.bean.Danyuan">
        select * from danyuan
    </select>
    <select id="findDanyuanById" resultType="com.zhumeijia.wuye.bean.Danyuan" parameterType="int">
        select * from danyuan where id = #{id}
    </select>
</mapper>

