<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhumeijia.wuye.mapper.User_RoomMapper">
    <insert id="fenpei">
        insert into user_room values(null,#{uid},#{rid},#{date},null)
    </insert>
    <update id="updateUser_RoomByUid">
        update user_room set `outTime` = #{date} where uid = #{uid} and outTime is null
    </update>


    <select id="getRoomRecordCount" resultType="java.lang.Integer">
        select count(*) from `user_room` where rid = #{id}
    </select>
    <select id="findRoomRecordById" resultType="com.zhumeijia.wuye.bean.User_Room">
        select * from `user_room` where rid = #{id} limit #{i},#{limit}
    </select>
    <select id="findRoom" resultType="java.lang.Integer">
        SELECT count(*) FROM user_room where uid = #{uid} and outTime is null
    </select>
    <select id="outRoom" resultType="com.zhumeijia.wuye.bean.User_Room">
        select * from `user_room` where uid = #{uid} and  outTime is null
    </select>
    <select id="findRoomByUid" resultType="com.zhumeijia.wuye.bean.User_Room">
        select * from `user_room` where uid = #{id} and  outTime is null
    </select>
</mapper>

