<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhumeijia.wuye.mapper.UserMapper">
    <insert id="addUser" parameterType="com.zhumeijia.wuye.bean.User">
        insert into `user` values(null,#{username},#{password},#{phone},#{sex},1,#{image})
    </insert>
    <update id="updateUser" parameterType="com.zhumeijia.wuye.bean.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} AND phone = #{phone,jdbcType=VARCHAR}
    </update>
    <update id="updatePass">
        update `user` set `password` = #{newPsw} where id = #{id}
    </update>
    <update id="updateUserImage">
        update `user` set `image` = #{image} where id = #{id}
    </update>
    <delete id="delUser" parameterType="int">
        DELETE from user where id=#{id}
    </delete>

    <select id="getCountAll" resultType="java.lang.Integer">
        select count(*) from user
    </select>
    <select id="getAllUser" resultType="com.zhumeijia.wuye.bean.User">
        select * from user limit #{page},#{limit}
    </select>
    <select id="getCountByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from user where username like '%${name}%'
    </select>
    <select id="findUser" resultType="com.zhumeijia.wuye.bean.User">
        select * from user where username like '%${name}%' limit #{page},#{limit}
    </select>
    <select id="getAllUsers" resultType="com.zhumeijia.wuye.bean.User">
        select * from user
    </select>
    <select id="findUserById" resultType="com.zhumeijia.wuye.bean.User" parameterType="int">
        select * from user where id = #{id}
    </select>
    <select id="loginByPassword" resultType="com.zhumeijia.wuye.bean.User">
        select * from `user` where username = #{phone} and password = #{password}
    </select>
    <select id="getUserById" resultType="com.zhumeijia.wuye.bean.User">
        select * from `user` where id = #{id}
    </select>
    <select id="findCountByName" resultType="java.lang.Integer">
        select count(*) from `user` where username = #{username}
    </select>
</mapper>

